/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
    color: #fff;
    width: 100px;
    height: 40px;
    background-color: #1b6ec2;
    border-color: #1861ac;
    border-radius: 5px;
    border: 2px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* Create a top navigation bar with a black background color  */
.topnav {
    background-color: #3a4a41;
    overflow: hidden;
    border-radius:10px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #171616;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight:500;
}

/* Create a right-aligned (split) link inside the navigation bar */
    .topnav a.split {
        float: right;
        background-color: #171616;
        color: white;
    }


/* Change the color of links on hover */
    .topnav a:hover {
        background-color: #171616;
        color: white;
    }

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #171616;
    color: black;
}